<header>
  <h1><span class="amount"><%= free.length %></span> out of <span class="total"><%= data.length %></span> meeting rooms available</h1>
  <h3 class="time">het is nu <%= date %></h3>
</header>
