<header>
  <h1><span class="amount"><%= free.length %></span> van de <span class="total"><%= data.length %></span> beschikbare vergaderruimtes</h1>
  <!-- <h3 class="time">het is nu <%= date %></h3> -->
</header>
