<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>


  <main class="error">

    <h1 class="error__title"><%= error %></h1>

    <div class="container__error">
      <a class="btn__error" href="/">back to home</a>
    </div>

    <div class="error__icon">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="350px" height="350px" viewBox="0 0 350 350" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
          <title>np_error_2209521_000000</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="np_error_2209521_000000" fill="#999999" fill-rule="nonzero">
                  <path d="M313.02242,0.000748258962 L37.0217591,0.000748258962 C16.5876673,0.0153617565 0.0295748305,16.5589708 0.000367222626,36.9752166 L0.000367222626,312.820883 C-0.0435153359,322.656373 3.84715896,332.111747 10.7951995,339.082902 C17.7286363,346.068647 27.1776719,349.985409 37.0217591,350 L313.02242,350 C333.441908,349.956156 349.985396,333.412595 350,313.010941 L350,36.9744683 C349.985374,16.5728136 333.441908,0.0437731493 313.02242,0 L313.02242,0.000748258962 Z M342.203815,198.012517 L279.789404,133.475182 C279.058053,132.71525 278.048781,132.276808 276.98098,132.276808 C275.927821,132.276808 274.918549,132.71525 274.172557,133.475182 L209.271754,200.627682 L144.326017,133.400356 C143.594666,132.640424 142.570752,132.201982 141.517593,132.201982 C140.464434,132.201982 139.44052,132.640424 138.709169,133.400356 L73.6922852,200.627682 L8.74654795,133.400356 C8.46863007,133.137294 8.1468184,132.918066 7.81040667,132.771931 L7.81040667,74.3141993 L342.203815,74.3141993 L342.203815,198.012517 Z M7.81040667,143.647762 L70.9138179,208.959546 C71.6598101,209.719478 72.6690828,210.15792 73.7222417,210.15792 C74.7900419,210.15792 75.7993145,209.719478 76.5306655,208.959546 L141.517593,141.702289 L206.302314,208.959546 C207.048306,209.719478 208.057579,210.15792 209.110738,210.15792 C210.178538,210.15792 211.187811,209.719478 211.919162,208.959546 L277.067105,141.702289 L342.012843,208.959546 L342.012843,257.173612 L279.598431,192.636277 C278.86708,191.876345 277.843166,191.437903 276.790008,191.437903 C275.736849,191.437903 274.712935,191.876345 273.981584,192.636277 L209.271754,259.863603 L144.326017,192.636277 C143.594666,191.876345 142.570752,191.437903 141.517593,191.437903 C140.464434,191.437903 139.44052,191.876345 138.709169,192.636277 L73.6922852,259.863603 L8.74654795,192.636277 C8.46863007,192.373219 8.1468184,192.153986 7.81040667,192.007851 L7.81040667,143.647762 Z M37.0210102,7.79386535 L313.021671,7.79386535 C329.1409,7.83770958 342.188463,20.8883972 342.203067,36.9789579 L342.203067,66.3686993 L7.80965776,66.3686993 L7.80965776,36.9789579 C7.82428403,20.8738061 20.9010318,7.8084564 37.0202613,7.79386535 L37.0210102,7.79386535 Z M313.021671,342.216984 L37.0210102,342.216984 C20.9017807,342.187754 7.82501047,329.137044 7.81040667,313.017301 L7.81040667,202.881064 L70.9138179,268.162917 C71.6598101,268.922849 72.6690828,269.361291 73.7222417,269.361291 C74.7900419,269.361291 75.7993145,268.922849 76.5306655,268.162917 L141.517593,200.935591 L206.302314,268.162917 C207.048306,268.922849 208.057579,269.361291 209.110738,269.361291 C210.178538,269.361291 211.187811,268.922849 211.919162,268.162917 L277.067105,200.935591 L342.012843,268.162917 L342.012843,312.826495 C342.100604,328.917055 329.1409,342.05536 313.021671,342.216236 L313.021671,342.216984 Z" id="Shape"></path>
                  <path d="M303.058502,53.4351145 C309.965973,53.4059623 316.173596,49.222381 318.796913,42.8228622 C321.419932,36.4382702 319.933572,29.0912689 315.037272,24.2079461 C310.140936,19.339177 302.796617,17.8961226 296.41366,20.549111 C290.031075,23.1875458 285.877863,29.4264889 285.877863,36.3361332 C285.892434,40.8843479 287.699412,45.2426184 290.920063,48.4496546 C294.140566,51.6566162 298.512463,53.449407 303.058875,53.4348533 L303.058502,53.4351145 Z M303.058502,27.0362132 L303.058502,27.050793 C306.818142,27.0799452 310.199132,29.3685242 311.612635,32.8670447 C313.040724,36.3655279 312.210118,40.3595829 309.528791,43.0128326 C306.847464,45.6658584 302.839929,46.4384354 299.357095,44.9807154 C295.888847,43.5084417 293.629967,40.1119463 293.644889,36.3365698 C293.688607,31.1763537 297.899945,27.0218349 303.058539,27.0509423 L303.058502,27.0362132 Z" id="Shape"></path>
                  <path d="M258.696053,53.4351145 C265.604831,53.4059623 271.828179,49.222381 274.451992,42.8228622 C277.060955,36.4382702 275.588866,29.0912689 270.691641,24.2079461 C265.794379,19.339177 258.448671,17.8961226 252.064507,20.549111 C245.680715,23.1875458 241.526718,29.4264889 241.526718,36.3361332 C241.526718,40.8843479 243.348611,45.2426184 246.569872,48.4496546 C249.791132,51.6566909 254.148782,53.449407 258.696426,53.4348533 L258.696053,53.4351145 Z M258.696053,27.0362132 L258.696053,27.050793 C262.470956,27.0799452 265.852586,29.3685242 267.266356,32.8670447 C268.680125,36.3655652 267.863952,40.3595829 265.182118,43.0128326 C262.500284,45.6658584 258.477439,46.4384354 255.008499,44.9807154 C251.539595,43.5084417 249.280287,40.1119463 249.295212,36.3365698 C249.309787,33.8584868 250.300895,31.4823544 252.064507,29.7332993 C253.828118,27.9986487 256.218505,27.0219842 258.696053,27.0511289 L258.696053,27.0362132 Z" id="Shape"></path>
                  <path d="M214.890563,53.4351145 C221.798034,53.4059623 228.005657,49.222381 230.628974,42.8228622 C233.251993,36.4382702 231.765633,29.0912689 226.869334,24.2079461 C221.972997,19.339177 214.628679,17.8961226 208.245721,20.549111 C201.863136,23.1875458 197.709924,29.4264889 197.709924,36.3361332 C197.724495,40.8843479 199.531473,45.2426184 202.752124,48.4496546 C205.972627,51.6566162 210.344524,53.449407 214.890936,53.4348533 L214.890563,53.4351145 Z M214.890563,27.0362132 L214.890563,27.050793 C218.650203,27.0799452 222.031193,29.3685242 223.444696,32.8670447 C224.872785,36.3655279 224.042179,40.3595829 221.360852,43.0128326 C218.679525,45.6658584 214.67199,46.4384354 211.189156,44.9807154 C207.720908,43.5084417 205.462028,40.1119463 205.47695,36.3365698 C205.491525,33.8584868 206.497029,31.4823544 208.26027,29.7332993 C210.023548,27.9986487 212.398933,27.0219842 214.890563,27.0511289 L214.890563,27.0362132 Z" id="Shape"></path>
                  <path d="M43.5678395,53.4351145 L159.500166,53.4351145 C168.621277,52.997409 175.801527,45.4836576 175.801527,36.3358779 C175.801527,27.2026647 168.621277,19.6743841 159.500166,19.2366412 L43.5678395,19.2366412 C34.4321584,19.6743467 27.2519084,27.2026647 27.2519084,36.3358779 C27.2519084,45.4836576 34.4321584,52.9973717 43.5678395,53.4351145 Z M43.5678395,27.0129263 L159.500166,27.027519 C164.403688,27.3339053 168.227127,31.4191405 168.227127,36.335904 C168.227127,41.2672341 164.403688,45.3380185 159.500166,45.6588556 L43.5678395,45.6588556 C38.6497474,45.3378765 34.8263082,41.2672341 34.8263082,36.335904 C34.8263082,31.4191405 38.6497474,27.3337896 43.5678395,27.027519 L43.5678395,27.0129263 Z" id="Shape"></path>
              </g>
          </g>
      </svg>
    </div>

  </main>

<% include partials/tail.ejs %>

</body>
</html>
