@font-face {
  font-family: 'Brando';
  src: url('fonts/Brando-Sans-Text.otf'); /* IE9 Compat Modes */
  src: url('fonts/Brando-Sans-Text.otf') format('otf'), /* IE6-IE8 */
       url('fonts/Brando-Sans-Text.woff') format('woff'), /* Super Modern Browsers */
}

@font-face {
  font-family: 'Brando Semibold';
  src: url('fonts/Brando-Sans-SemiBold.otf'); /* IE9 Compat Modes */
  src: url('fonts/Brando-Sans-SemiBold.otf') format('otf'), /* IE6-IE8 */
       url('fonts/Brando-Sans-Semi-Bold.woff') format('woff'), /* Super Modern Browsers */
}

@font-face {
  font-family: 'Brando Light';
  src: url('fonts/Brando-Sans-Light.otf'); /* IE9 Compat Modes */
  src: url('fonts/Brando-Sans-Light.otf') format('otf'), /* IE6-IE8 */
       url('fonts/Brando-Sans-Light.woff') format('woff'), /* Super Modern Browsers */
}

/* colors */
:root {
  --color-text: #242829;
  --color-text-free: green;
  --color-text-taken: red;
  --color-text-special: #C23EE6;
  --color-title: #909090;
  --color-title-dark: #242829;
  --color-room-free: #FFF;
  --color-room-taken: tomato;
  --color-bar-good: lightgreen;
  --color-bar-middle: darkorange;
  --color-bar-bad: tomato;
  --color-backgr: #272B2C;
  --color-backgr-light: #FFF;
  --color-backgr-special: #DDD;
}

/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .2s ease-out;
}

body {
  font-size: 16px;
  height: 100%;
  width: 100vw;
  padding: 0 1rem;
  text-align: center;
  font-family: 'Brando', sans-serif;
  background-color: var(--color-backgr);
}

main {
  height: 100%;
  margin: 1.5rem 0 2rem;
  display: grid;
  grid-template-areas:
  "free"
  "taken";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 3rem;
}

.freeRooms {
  grid-area: free;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: auto;
  grid-gap: 3rem;
  justify-content: center;
}

.takenRooms {
  grid-area: taken;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: auto;
  grid-gap: 3rem;
  justify-content: center;
}

/* header */
.header {
  margin: 1.5rem 0;
}

.time {
  font-family: 'Brando Light', sans-serif;
  color: var(--color-backgr-light)
}

/* text */
h1, h2, h3 {
  font-family: 'Brando Semibold', sans-serif;
  margin: 1rem 0;
  color: var(--color-title);
}

h2, h3 {
  display: inline;
  margin: 0;
}

h3 {
  font-family: 'Brando', sans-serif;
}

p {
  font-family: 'Brando Light', sans-serif;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.amount, .total {
  color: var(--color-bar-middle);
}

/* buttons */
.btn {
  height: 2rem;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: .35rem .5rem;
  float: right;
  margin-right: 1rem;
  color: var(--color-title);
}

.btn__booked {
  display: none;
}

input[type="checkbox"]:checked ~ .btn__book {
  display: none;
}

input[type="checkbox"]:checked ~ .btn__booked {
  display: inline;
  height: 2rem;
  border: solid 1px var(--color-bar-middle);
  border-radius: 5px;
  padding: 0.35rem .5rem;
  float: right;
  margin-right: 1rem;
  color: var(--color-bar-middle);
}

.btn__book:hover, .btn__book:focus {
  color: var(--color-title-dark);
  border-color: var(--color-title-dark);
}

.btn__booked:hover, .btn__booked:focus {
  color: var(--color-bar-bad) !important;
  border-color: var(--color-bar-bad) !important;
}

/* styles */
/* room block */
.room {
  height: 100%;
  padding: 0.5rem;
  text-align: left;
  border-radius: 5px;
  background-color: var(--color-room-free);
  box-shadow: -10px -8px 20px -4px rgba(7.5,7.5,7.5,1);
}

.room:hover, .room:focus {
  transform: scale(1.01);
  transition: .35s ease-out;
}

.room__btns {
  display: flex;
  float: right;
}

.free {
  height: 2rem;
  border: solid 1px var(--color-text-free);
  border-radius: 5px;
  padding: 0.25rem .5rem;
  float: right;
  color: var(--color-text-free);
}

.taken {
  height: 2rem;
  border: solid 1px var(--color-text-taken);
  border-radius: 5px;
  padding: 0.25rem .5rem;
  float: right;
  color: var(--color-text-taken);
}

.room__name {
  color: var(--color-title-dark);
}

/* bars */
.temp, .humidity, .co2, .bap {
  width: 100%;
  height: 2rem;
  display: block;
  text-align: right;
  padding: .5rem;
  margin-bottom: .3rem;
  background-color: var(--color-bar-good);
  color: var(--color-title-dark);
}

.label {
  display: inline;
  float: left;
}




/* tablet */
@media (max-width: 54em) {
  body {
    background-color: green;
  }

  main {
    margin: 1.5rem 0 2rem;
    grid-gap: 2rem;
  }

  .room__btns {
  }
}

/* mobile */
@media (max-width: 36em) {
  body {
    background-color: yellow;
  }

  main {
    grid-template-areas:
    "free"
    "taken";
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-gap: 3rem;
  }

  .freeRooms {
    grid-area: free;
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-gap: 3rem;
    justify-content: center;
  }

  .takenRooms {
    grid-area: taken;
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-gap: 3rem;
    justify-content: center;
  }
}
